body .ot-pc-open {
  display: none;
}
body .ot-floating-button__front {
  background-image: url(../images/onetrust-icon.png);
}
body #onetrust-pc-sdk .ot-pc-footer-logo {
  display: none;
}
body #onetrust-pc-sdk #ot-pc-title {
  display: none;
}
body #onetrust-pc-sdk .ot-always-active {
  color: #a62b4e;
}
body #onetrust-pc-sdk .ot-switch-nob {
  background-color: #a7a9ac;
}
body #onetrust-pc-sdk .ot-switch-nob:before {
  background-color: #939597;
  outline: none !important;
  border: 3px solid #fff;
  top: -8px;
  left: -3px;
}

html[dir='rtl'] body #onetrust-pc-sdk .ot-switch-nob:before {
  left: auto;
  right: -3px;
}

body #onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob {
  background-color: #d91e49;
}
body #onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob:before {
  background-color: #d91e49;
}
body #onetrust-pc-sdk #filter-btn-handler {
  background-color: #d91e49;
}
body #onetrust-pc-sdk #ot-pc-desc a:hover {
  color: #a62b4e;
}
body #onetrust-pc-sdk .ot-desc-cntr:focus, body #onetrust-pc-sdk .ot-desc-cntr:active, body #onetrust-pc-sdk .ot-desc-cntr:focus-visible {
  outline: none;
}
body label.ot-scrn-rdr {
  display: none;
}
body .onetrust-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  padding: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  background-color: #4d4d4f;
  transform: translateY(-50%);
}
@media screen and (min-width: 0px) and (max-width: 767.9px) {
  body .onetrust-message-wrapper {
    padding: 20px;
    min-height: 150px;
    font-size: 14px;
    line-height: 22px;
 }
}
body .onetrust-message-wrapper a {
  color: #fff;
  text-decoration: underline;
}
body .onetrust-message-wrapper a:hover {
  color: #fff !important;
}
body .onetrust-message-wrapper .onetrust-video-link {
  display: block;
  word-break: break-all;
}
body .ot-floating-button__open::after, body .ot-floating-button__close::after {
  content: 'cookie button';
  font-size: 0;
}

body #onetrust-consent-sdk #onetrust-pc-sdk .ot-tgl input:focus + .ot-switch, .ot-switch .ot-switch-nob, .ot-switch .ot-switch-nob:before, #onetrust-pc-sdk .ot-checkbox input[type="checkbox"]:focus + label::before, #onetrust-pc-sdk .ot-chkbox input[type="checkbox"]:focus + label::before {
  outline: none;
}

body #onetrust-pc-sdk .ot-chkbox label::before {
  border: 1px solid #555759;
  border-radius: 5px;
}

body #onetrust-pc-sdk .ot-chkbox input:checked~label::before {
  background-color: unset;
}

body #onetrust-pc-sdk .ot-chkbox input+label::after {
  color: #555759;
}

body #onetrust-pc-sdk .ot-fltr-opts {
  margin-bottom: 15px;
}

body #onetrust-pc-sdk .ot-fltr-opt .ot-label-txt {
  min-height: 20px;
  padding-top: 3px;
}
